{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
<div class="main_container">
  <div class="row marl heading_create">
    {% include 'emails/_mail_center.html' %}
  </div>
  <div class="table_container_row row marl">
    <div class="col-md-2 col-sm-3 col-xs-12 mail_menu">
      <div class="card">
        <div class="card-body">
          {% include 'emails/_mail_menu.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-12">
      <div class="card">
        <div class="card-body">
          <p>Select a mailbox from the menu or compose a new message.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
