{% extends 'base.html' %}
{% load static %}
{% load paginate %}
{% block breadcrumb %}

<div class="main_container">
  
  <div class="row marl heading_create">
    {% include 'emails/_mail_center.html' %}
  </div>
  
  <div class="table_container_row row marl">

    <div class="col-md-2 col-sm-3 col-xs-12 mail_menu">
      <div class="card">
        <div class="card-body">
          {% include 'emails/_mail_menu.html' with active='all' %}
        </div>
      </div>
    </div>
    
    <div class="col-md-10 col-sm-9 col-xs-12">

      {% url 'emails:list' as filter_url %}
      {% include 'emails/_mail_filters.html' with action_url=filter_url filter_value='all' %}
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                
                <th >To</th>
                <th >Subject</th>
                <th >Message</th>
                <th >Date Sent</th>
                <th >Status</th>
                <span class="float-right total_count">Total Mails :{{filter_list.count}}</span>
              </tr>
            </thead>
            <tbody>
              {% paginate 10 filter_list as filter_list %}
              {% for fil in filter_list %}
              <tr>
                
                <td>{{fil.to_email}}</td>
                <td>{{fil.subject}}</td>
                <td><a href="{% url 'emails:email_view' fil.id %}">{{fil.message|stringformat:".5s"}}</a></td>
                <td>{{fil.send_time}}</td>
                <td>{{fil.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% ifequal filter_list|length 0 %}
          <h4>
            <center>No Mails Found</center>
          </h4>
          {% else %}
          <div class="pagination_row marl row text-center">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% show_pages %}
              </ul>
            </nav>
          </div>
          {%endifequal%}
        </div>
      </div>

    </div>
    <br clear="all">
  </div>
</div>

</div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $("#from_date,#to_date").datetimepicker({
  'format': 'YYYY-MM-DD',
  });
</script>
{% endblock js_block %}