{% extends 'base.html' %}
{% load static %}
{% load paginate %}
{% block breadcrumb %}

<div class="main_container">
  
  <div class="row marl heading_create">
    {% include 'emails/_mail_center.html' %}
  </div>
  
  <div class="table_container_row row marl">

    <div class="col-md-2 col-sm-3 col-xs-12 mail_menu">
      <div class="card">
        <div class="card-body">
          {% include 'emails/_mail_menu.html' with active='sent' %}
        </div>
      </div>
    </div>
    
    
    <div class="col-md-10 col-sm-9 col-xs-12">
      {% url 'emails:email_sent' as filter_url %}
      {% include 'emails/_mail_filters.html' with action_url=filter_url filter_value='sent' %}
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                
                <th >TO</th>
                <th >Subject</th>
                <th >Message</th>
                <th >Date Sent</th>
                <th >Status</th>
                <span class="float-right total_count">Total Sent Mails : {{filter_list.count}}</span>
              </tr>
            </thead>
            <tbody>
              {% paginate 10 filter_list as filter_list %}
              {% for sent in filter_list %}
              <tr>
                <td>{{sent.to_email}}</td>
                <td>{{sent.subject}}</td>
                <td><a href="{% url 'emails:email_view' sent.id %}">{{sent.message|stringformat:".5s"}}</a></td>
                <td>{{sent.send_time}}</td>
                <td>{{sent.status}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                    <span class="material-icons">arrow_drop_down</span></button>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'emails:email_delete' sent.id %}">Remove</a></li>
                      <li><a href="{% url 'emails:email_move_to_trash' sent.id %}">Move To Trash</a></li>
                      <li><a href="{% url 'emails:email_imp' sent.id %}">Mark As Important</a></li>
                      <li><a href="{% url 'emails:email_sent_edit' sent.id %}">Edit</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% ifequal filter_list|length 0 %}
          <h4>
            <center>No Mails Found</center>
          </h4>
          {% else %}
          <div class="pagination_row marl row text-center">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% show_pages %}
              </ul>
            </nav>
          </div>
          {%endifequal%}
        </div>
      </div>
    </div>
    <br clear="all">
  </div>
</div>

</div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $("#from_date,#to_date").datetimepicker({
  'format': 'YYYY-MM-DD',
  });
</script>
{% endblock js_block %}